/* reset */

.RadioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.RadioGroupItem {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* box-shadow: 0 2px 10px #c2c0c0; */
  border-color: #4a69ff;
}
.RadioGroupItem:hover {
  background-color: #dddada;
}
.RadioGroupItem:focus {
  box-shadow: 0 0 0 2px #4a69ff;
}

.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.RadioGroupIndicator::after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #4a69ff;
}

.Label {
  color: black;
  font-size: 15px;
  line-height: 1;
  padding-left: 15px;
}
.Label-sub {
  color: black;
  font-size: 13px;
  line-height: 1;
  padding-left: 15px;
}
